html, body {
    border: 0;
    margin: 0;
    padding: 0;
    font: 14px Ubuntu, Arial, Tahoma;
}

header,
article {
    margin: 20px;
    padding: 5px;
}

header {
    border-bottom: 1px solid black;
}

#tree ol,
#tree ol li {
    margin: 0 0 0 10px;
    padding: 0;
}

#tree ol li {
    list-style-type: none;
    cursor: pointer;
}

#tree ol li.selected > a {
    font-weight: bold;
}

#tree ol li a,
#tree ol li a:hover {
    color: black;
    text-decoration: none;
    line-height: 20px;
    padding: 0 0 0 5px;
}

#tree ol li a:hover {
    text-decoration: underline;
}

#tree ol li img.node {
    width: 20px;
    height: 20px;
}

#tree ol li.open > img {
    background: transparent url("images/folder-open.png") no-repeat bottom left;
}

#tree ol li.close > img {
    background: transparent url("images/folder-close.png") no-repeat bottom left;
}
