<h1>default/default.phtml</h1>
<p><?php echo $this->get('text'); ?></p>


<?php foreach($this->get('test') as $test){ ?>

<p><?php echo $test->id .' - '. $test->text; ?></p>

<?php } ?>

<pre><?php //print_r(Application::getInstance()->getConfig()->toArray()); ?></pre>
