<header>
    <h1><?php echo Application::getInstance()->getConfig()->layout->title; ?></h1>

    <div>
        <button id="tree-node-add">Add</button>
        <button id="tree-node-delete" disabled="disabled">Delete</button>
        <button id="tree-node-edit" disabled="disabled">Edit</button>
    </div>
</header>
<article id="tree"></article>

<script type="text/javascript">
    (function ($) {
        $('#tree').tree();
    }(jQuery))
</script>